<div class=" bg-gradient-to-r from-green-500 to-teal-500 py-16 sm:py-24 lg:py-32">
    <div class="mx-auto grid container grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8">
      <h2 class="max-w-xl text-3xl font-bold tracking-tight text-white sm:text-4xl lg:col-span-7">Bạn cần tư vấn? <br/>Hãy để lại thông tin liên hệ.</h2>
      <form class="w-full max-w-md lg:col-span-5 lg:pt-2">
        <div class="flex gap-x-4">
          <label for="phone-number" class="sr-only">Số điện thoại</label>
          <input id="phone-number" name="phone" type="tel" autocomplete="tel" required class="min-w-0 flex-auto rounded-md bg-white/10 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-white/75 focus:outline-2 focus:-outline-offset-2 focus:outline-white sm:text-sm/6" placeholder="Nhập số điện thoại của bạn">
          <button type="submit" class="flex-none rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-green-700 shadow-sm hover:bg-green-50 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Liên hệ ngay</button>
        </div>
        <p class="mt-4 text-sm/6 text-gray-100">Chúng tôi cam kết bảo mật thông tin của bạn. Xem <a href="#" class="font-semibold text-white hover:text-green-100">chính sách bảo mật</a>.</p>
      </form>
    </div>
  </div>
  