  <aside>
                        <!-- <h2 class="sr-only">Filters</h2> -->

                  
                        <!-- <button
                            type="button"
                            class="inline-flex items-center lg:hidden"
                        >
                            <span class="text-sm font-medium text-gray-700"
                                >Filters</span
                            >
                            <svg
                                class="ml-1 h-5 w-5 flex-shrink-0 text-gray-400"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
                                ></path>
                            </svg>
                        </button> -->

                        <div class="hidden lg:block">
                            <form class="space-y-10 divide-y divide-gray-200">
                                <div>
                                    <fieldset>
                                        <legend
                                            class="block text-sm font-medium text-gray-900"
                                            >
                                            <a href="/thiet-bi/solar">
                                            Pin mặt trời
                                        </a>
                                            </legend
                                        >
                                        <div class="space-y-3 pt-6">
                                            <div class="flex items-center">
                                                <input
                                                    id="color-0"
                                                    name="color[]"
                                                    value="white"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="color-0"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Pin mặt trời JA Solar</label
                                                >
                                            </div>
                                            <div class="flex items-center">
                                                <input
                                                    id="color-1"
                                                    name="color[]"
                                                    value="beige"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="color-1"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Pin mặt trời Canadian</label
                                                >
                                            </div>

                                            <div class="flex items-center">
                                                <input
                                                    id="color-3"
                                                    name="color[]"
                                                    value="brown"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="color-3"
                                                    class="ml-3 text-sm text-gray-600"
                                                >
                                                    Pin mặt trời Longi Solar</label
                                                >
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="pt-10">
                                    <fieldset>
                                        <legend
                                            class="block text-sm font-medium text-gray-900"
                                            >
                                            <a href="/thiet-bi/inverter">
                                                Biến tần / Inverter
                                            </a>
                                           
                                            </legend
                                        >
                                        <div class="space-y-3 pt-6">
                                            <div class="flex items-center">
                                                <input
                                                    id="category-0"
                                                    name="category[]"
                                                    value="new-arrivals"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="category-0"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Inverter Deye</label
                                                >
                                            </div>
                                            <div class="flex items-center">
                                                <input
                                                    id="category-1"
                                                    name="category[]"
                                                    value="tees"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="category-1"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Inverter Invt</label
                                                >
                                            </div>

                                            <div class="flex items-center">
                                                <input
                                                    id="category-4"
                                                    name="category[]"
                                                    value="pants-shorts"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="category-4"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Inverter Solis</label
                                                >
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="pt-10">
                                    <fieldset>
                                        <legend
                                            class="block text-sm font-medium text-gray-900"
                                            >
                                            <a href="/thiet-bi/pin-lithium">
                                                Pin lưu trữ Lithium
                                            </a>
                                            
                                            </legend
                                        >
                                        <div class="space-y-3 pt-6">
                                            <div class="flex items-center">
                                                <input
                                                    id="sizes-1"
                                                    name="sizes[]"
                                                    value="s"
                                                    type="checkbox"
                                                    class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500"
                                                />
                                                <label
                                                    for="sizes-1"
                                                    class="ml-3 text-sm text-gray-600"
                                                    >Pin lithium Easyway</label
                                                >
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </form>
                        </div>
                    </aside>