<div class="hidden">
    <div>
        <main>
            <!-- Product grid -->

            <section
                aria-labelledby="more-products-heading"
                class="mt-16 pb-24"
            >
                <div
                    class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8"
                >
                    <a href="#" class="group">
                        <div
                            class="aspect-h-2 aspect-w-1 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2"
                        >
                            <img
                                src="https://xbsolar.vn/wp-content/uploads/2022/06/tam-pin-mat-troi-ja-solar-535w-jam72s30-535-mr-637558957984016451-300x300.png"
                                alt="Close up of long kettle spout pouring boiling water into pour-over coffee mug with frothy coffee."
                                class="h-full w-full object-cover object-center group-hover:opacity-75"
                            />
                        </div>
                        <div
                            class="mt-4 flex items-center justify-between text-base font-medium text-gray-900"
                        >
                            <h3>Pin PV 1 mặt kính</h3>
                            <p>2.350.000</p>
                        </div>
                    </a>
                    <a href="#" class="group">
                        <div
                            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2"
                        >
                            <img
                                src="https://beta.slmsolar.com/images/S6-EH1P6K-L-PRO.jpg"
                                alt="Extra large black leather workspace pad on desk with computer, wooden shelf, desk organizer, and computer peripherals."
                                class="h-full w-full object-cover object-center group-hover:opacity-75"
                            />
                        </div>
                        <div
                            class="mt-4 flex items-center justify-between text-base font-medium text-gray-900"
                        >
                            <h3>INVERTER SOLIS - 5KW</h3>
                            <p>25.800.000</p>
                        </div>
                    </a>
                    <a href="#" class="group">
                        <div
                            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2"
                        >
                            <img
                                src="https://hungvietgt.com/upload/baiviet/pin_easyway/z4692096281886_facd95197de3836294d4aed2aba9b226.jpg"
                                alt="Leather long wallet held open with hand-stitched card dividers, full-length bill pocket, and simple tab closure."
                                class="h-100 w-100 object-cover object-center group-hover:opacity-75"
                            />
                        </div>
                        <div
                            class="mt-4 flex items-center justify-between text-base font-medium text-gray-900"
                        >
                            <h3>PIN LITHIUM EASYWAY - BẢN RACK</h3>
                            <p>$118</p>
                        </div>
                    </a>
                    <a href="#" class="group">
                        <div
                            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg sm:aspect-h-3 sm:aspect-w-2"
                        >
                            <img
                                src="https://hungvietgt.com/upload/baiviet/pin_easyway/z4692096281886_facd95197de3836294d4aed2aba9b226.jpg"
                                alt="Leather long wallet held open with hand-stitched card dividers, full-length bill pocket, and simple tab closure."
                                class="h-100 w-100 object-cover object-center group-hover:opacity-75"
                            />
                        </div>
                        <div
                            class="mt-4 flex items-center justify-between text-base font-medium text-gray-900"
                        >
                            <h3>PIN LITHIUM EASYWAY - BẢN WALL</h3>
                            <p>28.000.000</p>
                        </div>
                    </a>

                    <!-- More products... -->
                </div>
            </section>
        </main>
    </div>
</div>
