<div class="h-8 bg-red-700">
    <nav class="container mx-auto container h-full px-4">
        <ul class="flex items-center justify-end h-full gap-8 text-white text-sm">
            <li><a href="/lien-he" class="hover:text-gray-200">Liên hệ</a></li>
            <li><a href="/tuyen-dung" class="hover:text-gray-200">Tuyển dụng</a></li>
 
            
        </ul>
    </nav>
</div>
