---
const locations = [
    {
        name: "Kho Hà Nội",
        address: "Đường Vân Canh, Hoài Đức, Hà Nội",
    },
    {
        name: "Kho Bắc Giang",
        address: "Đường Hoàng Hoa Thám, Tân Yên, Bắc Giang",
    },
    {
        name: "Kho Hải Dương",
        address: "KCN Tân Trường, Cẩm Giàng, Hải Dương",
    },
    {
        name: "Kho Thanh Hoá",
        address: "Đường Kim Xuân, Hoằng Hoá, Thanh Hoá",
    },
];
---

    <footer class="bg-gray-900 block md:hidden" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>

    <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
        <div class="xl:grid xl:grid-cols-2 xl:gap-8">
            <div>
            <img  class="h-8" src="/images/logo-solarmax.svg" alt="SoLarMax" />
            <h1 class="text-xl py-6 uppercase">Công ty cổ phần đầu tư SLM</h1>
            <dl
            class="mt- space-y-4 text-base leading-7 text-white mb-2 space-x-3"
        >
            <div class="flex gap-x-4 lg:hidden">
                <dd class="text-white">TRỤ SỞ CHÍNH</dd>
            </div>
            <div class="flex gap-x-4">
                <dt class="flex-none">
                    <svg
                        class="h-7 w-6 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z"
                        ></path>
                    </svg>
                </dt>
                <dd class="text-white">
                    Tầng 5, tòa nhà Diamond Flower Tower, Phố Hoàng Đạo Thúy, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
                </dd>
            </div>
            <div class="flex gap-x-4">
                <dt class="flex-none">
                    <span class="sr-only">Điện thoại</span>
                    <svg
                                class="h-7 w-6 text-white"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                                ></path>
                            </svg>
                </dt>
                <dd>
                    <a class="text-white " href="tel:0964920242"
                        >+84 (96) 492-0242</a
                    >
                </dd>
            </div>
            <div class="flex gap-x-4">
                <dt class="flex-none">
                    <span class="sr-only">Email</span>
                    <svg
                        class="h-7 w-6 text-white"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                        ></path>
                    </svg>
                </dt>
                <dd>
                    <a
                        class="text-white"
                        href="mailto:sale@slmsolar.com"
                        >sale@slmsolar.com</a
                    >
                </dd>
            </div>
        </dl>
        </div >
            <div class="pt-2 sm:pt-2 pl-0 sm:pl-0 lg:pl-4  lg:pt-4 block sm:block ">
               
                <div class="grid grid-cols-1 gap-2 sm:grid-cols-1">
                    <div class="flex gap-x-4 pt-4">
                        <dd class="text-white uppercase">Văn phòng kho</dd>
                    </div>
                    {
                        locations.map((location) => (
                            <div class="relative flex items-start space-x-3   px-4 py-2 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                <div class="flex-shrink-0 ">
                                    <svg
                                        width="22"
                                        height="20"
                                        viewBox="0 0 22 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M9.875 15.5C9.875 15.6989 9.79598 15.8897 9.65533 16.0303C9.51468 16.171 9.32391 16.25 9.125 16.25H6.5C6.30109 16.25 6.11032 16.171 5.96967 16.0303C5.82902 15.8897 5.75 15.6989 5.75 15.5C5.75 15.3011 5.82902 15.1103 5.96967 14.9697C6.11032 14.829 6.30109 14.75 6.5 14.75H9.125C9.32391 14.75 9.51468 14.829 9.65533 14.9697C9.79598 15.1103 9.875 15.3011 9.875 15.5ZM15.5 14.75H12.875C12.6761 14.75 12.4853 14.829 12.3447 14.9697C12.204 15.1103 12.125 15.3011 12.125 15.5C12.125 15.6989 12.204 15.8897 12.3447 16.0303C12.4853 16.171 12.6761 16.25 12.875 16.25H15.5C15.6989 16.25 15.8897 16.171 16.0303 16.0303C16.171 15.8897 16.25 15.6989 16.25 15.5C16.25 15.3011 16.171 15.1103 16.0303 14.9697C15.8897 14.829 15.6989 14.75 15.5 14.75ZM21.5 19.25C21.5 19.4489 21.421 19.6397 21.2803 19.7803C21.1397 19.921 20.9489 20 20.75 20H1.25C1.05109 20 0.860322 19.921 0.71967 19.7803C0.579018 19.6397 0.5 19.4489 0.5 19.25C0.5 19.0511 0.579018 18.8603 0.71967 18.7197C0.860322 18.579 1.05109 18.5 1.25 18.5H2V7.25C2 7.11072 2.03879 6.97418 2.11201 6.8557C2.18524 6.73722 2.29001 6.64147 2.41459 6.57918C2.53917 6.51689 2.67863 6.49052 2.81735 6.50303C2.95608 6.51554 3.08857 6.56643 3.2 6.65L8 10.25V7.25C8 7.11072 8.03879 6.97418 8.11201 6.8557C8.18524 6.73722 8.29001 6.64147 8.41459 6.57918C8.53917 6.51689 8.67863 6.49052 8.81735 6.50303C8.95608 6.51554 9.08857 6.56643 9.2 6.65L12.8319 9.37344L13.9156 1.78813C13.9681 1.43127 14.1468 1.10506 14.4193 0.868712C14.6917 0.632364 15.0399 0.501544 15.4006 0.5H17.0994C17.4601 0.501544 17.8083 0.632364 18.0807 0.868712C18.3532 1.10506 18.5319 1.43127 18.5844 1.78813L19.9906 11.6441C19.9906 11.6441 19.9981 11.7172 19.9981 11.75V18.5H20.7481C20.8468 18.4998 20.9445 18.519 21.0357 18.5566C21.1269 18.5941 21.2098 18.6493 21.2797 18.719C21.3495 18.7887 21.4049 18.8714 21.4427 18.9626C21.4805 19.0537 21.5 19.1514 21.5 19.25ZM14.2006 10.4L15.0003 11H18.3856L17.0994 2H15.4006L14.2006 10.4ZM3.5 18.5H18.5V12.5H14.75C14.5877 12.5 14.4298 12.4474 14.3 12.35L12.95 11.3375L9.5 8.75V11.75C9.5 11.8893 9.46121 12.0258 9.38799 12.1443C9.31476 12.2628 9.20999 12.3585 9.08541 12.4208C8.96083 12.4831 8.82137 12.5095 8.68265 12.497C8.54392 12.4845 8.41143 12.4336 8.3 12.35L3.5 8.75V18.5Z"
                                            fill="white"
                                        />
                                    </svg>
                                </div>
                                <div class="min-w-0 flex-1">
                                    <div class="focus:outline-none">
                                        <span
                                            class="absolute inset-0"
                                            aria-hidden="true"
                                        />
                                        <p class="text-sm font-semibold capitalize text-white">
                                            {location.name}
                                        </p>
                                        <p class="text-sm text-slate-200">
                                            {location.address}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>

            <!-- <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Doanh nghiệp
                        </h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    href="/gioi-thieu"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Giới thiệu</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/mega-story"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Tin tức</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/du-an"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Dự án</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/lien-he"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Liên hệ</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="mt-10 md:mt-0">
                        <h3 class="text-sm font-semibold leading-6 text-white">
                            Điều khoản & Chính sách
                        </h3>
                        <ul role="list" class="mt-6 space-y-4">
                            <li>
                                <a
                                    href="#"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Điều khoản người dùng</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Chính sách bảo mật</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Chính sách bảo hành</a
                                >
                            </li>
                            <li>
                                <a
                                    href="#"
                                    class="text-sm leading-6 text-gray-300 hover:text-white"
                                    >Phương thức thanh toán</a
                                >
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> -->
        </div>


        <div
            class="mt-8 sm:mt-0 border-t border-white/10 pt-8 md:flex md:items-center md:justify-between"
        >
            <div class="flex items-center space-x-6 md:order-2">
                <a
                    href="https://www.facebook.com/solarmax87"
                    class="text-gray-500 hover:text-gray-400"
                    target="_blank"
                >
                    <span class="sr-only">Facebook</span>
                    <svg
                        class="h-6 w-6"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>

                <a
                    href="https://www.tiktok.com/@solarmax87"
                    class="text-gray-500 hover:text-gray-400"
                    target="_blank"
                >
                    <span class="sr-only">X</span>
                    <div class="w-5 h-5">
                        <svg
                            id="Layer_2"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 660.82 659.74"
                        >
                            <g id="Layer_1-2" data-name="Layer_1">
                                <path
                                    fill="currentColor"
                                    d="M660.82,329.29c-.06,179.15-142.53,323.06-316.62,330.16C159.54,666.98,7.93,522.41.31,344.46-7.63,159.01,138.35,6.84,318.03.23c185.19-6.81,341.91,141.14,342.79,329.07ZM309.26,348.16c.4-.52.59-.65.59-.79.1-22.44.24-44.88.13-67.32,0-1.05-2.07-2.87-3.34-3.02-13.28-1.59-26.63-2.11-39.76.87-49.52,11.25-83.87,40.49-98.46,89.13-14.67,48.92-4.28,93.08,33.17,129.39,29.54,28.64,65.08,40.42,105.9,36.22,63.46-6.52,113.82-62.34,113.87-126.04.03-45.75,0-91.5,0-137.26v-6.1c23.83,16.28,48.85,26.2,76.63,29.49v-85.1c-1.84-.17-3.31-.33-4.78-.43-19.33-1.42-36.9-6.98-52.45-19.29-18.72-14.84-31.61-33.11-36.95-56.4-1-4.37-3.01-5.51-7.2-5.43-12.99.23-25.99.08-38.99.08q-7.42,0-7.43,7.41c0,90.51.01,181.01,0,271.52,0,24.86-16.71,47.36-41.18,54.76-27.19,8.22-50.97-2.82-65.15-22.05-14.82-20.11-14.99-42.66-1.9-63.74,13.02-20.97,32.83-30.38,57.85-27.44,3.24.38,6.46,1.05,9.45,1.55Z"
                                ></path>
                            </g>
                        </svg>
                    </div>
                </a>

                <a
                    href="https://www.youtube.com/@solarmax87"
                    class="text-gray-500 hover:text-gray-400"
                    target="_blank"
                >
                    <span class="sr-only">YouTube</span>
                    <svg
                        class="h-6 w-6"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
            <p class="mt-8 text-xs leading-5 text-gray-400 md:order-1 md:mt-0">
                &copy; 2020 SLMSOLAR. All rights reserved.
            </p>
        </div>
    </div>
</footer>
